:root{
    /* COLORES CUADRICULA */
    --color-innactive:#444141;

    --color-cuadroG:#01ffe6;
    --color-cuadroC:#000000;
    --color-Cuadricula:#242424;

    /* #7a3b3b */
    --color-bg:#2f2f2f;
    /* #5d1717 */
    --color-bg-menu:#0b111a;
    --color-bg-menu-hover:#1a2e4c;

    --color-menu-card:#0b111a;

    --color-selected-grid:#3b447a;

    --color-border1:#42857f;
    --color-border1:#01ffe6;
    --color-active:#01ffe6;
    --color-font:#fff;
    --color-shadow:#000;
}

.menu{
    display: flex;
    transition: 0.5s;
    position: fixed;
    top:-100%;
    left: 0;
    background: var(--color-bg-menu);
    z-index: 100;
    width: 100%;
    height: 100%;
    margin: 0;
}

#playB1{
    cursor: pointer;
}

.card{
    background-color: var(--color-menu-card);
    margin:auto;
    border:1px solid var(--color-border1);
    padding:20px 50px;
    border-radius:10px;
    color: var(--color-font);
    text-align: center;
}

.subtitle div{
    margin: 10px 0;
    padding:10px 0;
    
}

.subtitle div:hover{
    background-color:var(--color-bg-menu-hover) ;
}

body{
    background-color: var(--color-bg);
    min-height: 100vh;
    height: calc(100vh + 200px);
    margin-top: 5vh;
    scrollbar-color:#00000000 #00000000;
}

.visible{
    transform: translateY(100%);
}

.container{
    position:relative;
    z-index: 1;
    height: 495px;
    width: 495px;
    /* background-color:var(--color-Cuadricula); */
    margin: auto;

}

.main{
    box-shadow: 10px 3px 17px 1px var(--color-shadow);
    border: 1px solid var(--color-shadow);
    background-color: var(--color-Cuadricula);
    justify-self: center;
    align-items: center;
    display: grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    color: var(--color-font);
}


@media(min-width:700px){
    main:hover{
    transform: scale(1.01);
    transition:  0.1s;
}
}

.rows{
    display: grid;
    grid-template-columns:repeat(9,1fr);
    text-align: center;
    height: 100%;
    border-bottom: 1px solid var(--color-shadow);
    border-right: 1px solid var(--color-shadow);
    
}

.columns{
    display: flex;
    background-color: var(--color-Cuadricula);
    position:relative;
    border:1px solid var(--color-shadow);
    cursor: pointer;
    min-height: 60px;
    min-width: 46px;
    justify-content: center;
    align-items: center;
    align-self: center;

}

.placeholder{
    position: absolute;
    z-index: 11;
    width: 100%;
    font-size: 0.9em;
    background-color: var(--color-Cuadricula);
}

.r{}

.c{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.c p{
    margin:0;
    min-height: 20px;

}

#controls{
    margin: 15px 0;
    padding: 0px 15px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

#timer{
    color:var(--color-font);
    
}

.peses{
    font-size:1.4rem;
    margin: 0;
    padding: 0 14px;
    text-align: center;
    position: relative;
    z-index: 10;
    height: 100%;
}

.selected{
    color:var(--color-active);
    /* animation-name: activo;
    animation-duration: 1s;
    animation-iteration-count: infinite; */
    background-color: var(--color-selected-grid) !important;
}

.selected > .placeholder {
    background-color: var(--color-selected-grid) !important    ;
}

.bloqued{
    cursor: default !important;
    background-color: var(--color-innactive);
}

@keyframes activo{
    0%{
        transform: scale(1.5);
    }
    50%{
        transform: scale(1);
    }
    
}

#keyboardContainer{
    display: flex;
    justify-content: center;
    position:fixed;
    z-index: 50;
    color: var(--color-font);
    width: 100%;
    max-width: 500px;
    min-height: 190px;
    bottom: 0;
    left: calc(100% - 25px);
    transition-duration:1s;
    transition-property:all;

}

.keyboard-visible{
    transform:translateX(calc(-100% + 25px ));
}

#keyboardButtonContainer{
    width: 25px;
    background: #00000000;
    align-self: center;
}

#keyboardButton{
    display: block;
    width: 100%;
    padding: 20px 0;
    font-size: 2em;
    cursor: pointer;
}

#keyboardButton:hover{
    font-size: 2.3em !important;
}

#keyboardButton::before{
    content: "<";
}

#keyboard{
    width: 100%;
    padding:15px;
    text-align: center;
    background-color: #00000088;
    display: grid;
    border-top-left-radius: 10px;

}

.keyboardRow{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    align-content: center;
    gap: 5px;
    height: 100%;

}

.keyboardColumn{
    background-color: var(--color-bg-menu);
    height: 35px;
    align-self: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 100px;
    
}

.keyboardColumn:active{
    background-color: var(--color-bg-menu-hover);


}

.border-right{
    border-right:1px solid var(--color-cuadroG) !important;
}

.border-left{
    border-left:1px solid var(--color-cuadroG) !important;
}

.border-bottom{
    border-bottom:1px solid var(--color-cuadroG) !important;
}

.border-top{
    border-top:1px solid var(--color-cuadroG) !important;
}

.danger{
    background-color: #f00;
}

.warning{
    background-color: bisque;
}

.hidden{
    cursor:default;
    left:100px;
    position:absolute;
    height: 100%;
    opacity: 0;
    z-index: -1;
}

.display-none{
    display: none;
}

